---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import intro from "../images/main/intro.png"
import coding from "../images/main/coding.jpeg";
import bjj from "../images/main/bjj.jpg";
import movies from "../images/main/movies.jpg";
import games from "../images/main/games.jpg";
---

<Layout title="Main Page">
  <main class="main-content">
    <div class="intro section">
      <Image src={intro} alt="Movie Image" class="image"/>
      <div class="text-content">
        <h1>Hi, my name is Aldiyar Nurgazin!</h1>
        <p>Highly skilled Web and Software Developer with a successful track record of developing innovative solutions for
			academic environments. Proficient in working with diverse technologies and adept at creating flexible solutions
			to meet project requirements. Possesses extensive knowledge and experience in various programming domains,
			including back-end and front-end development, database management, and Android mobile application
			development. Committed to continuously expanding knowledge and staying up-to-date with emerging
			technologies</p>
      </div>
    </div>
    <div class="section reverse">
      <Image src={coding} alt="Coding Image" class="image"/>
      <div class="text-content">
        <h1>CODING</h1>
        <p>Along my programming journey, I've tried out a lot of different stacks and technologies. 
			At the current moment I am most focused on web development and by following the link below you can see my projects.</p>
        <a href="/projects" class="link">My Projects</a>
      </div>
    </div>
    <div class="section">
      <Image src={bjj} alt="BJJ Image" class="image"/>
      <div class="text-content">
        <h1>BRAZILIAN JIU-JITSU</h1>
        <p>Beyond coding, I'm dedicated to Brazilian Jiu-Jitsu, a discipline that has taught me perseverance and the importance of continuous improvement. 
			I started practicing in June 2023 and have been honing my skills at every session since then.
		</p>
      </div>
    </div>
    <div class="section reverse">
      <Image src={movies} alt="Movie Image" class="image"/>
      <div class="text-content">
        <h1>MOVIE</h1>
        <p>My love for cinematography drives me to appreciate the art of filmmaking, always on the lookout for the next great movie. 
			If you're interested in my taste in movies, you can check out my profile at letterboxd.
		</p>
        <a href="https://letterboxd.com/CHOCOLAT1ER/" class="link" target="_blank" rel="noopener noreferrer">My Letterboxd</a>
      </div>
    </div>
    <div class="section">
      <Image src={games} alt="Gaming Image" class="image"/>
      <div class="text-content">
        <h1>GAMING</h1>
        <p>Additionally, I'm an avid gamer, finding joy in exploring virtual worlds and tackling new challenges.
			If you're interested in my game prefferences, you can check out my profile at backloggd.
		</p>
        <a href="https://www.backloggd.com/u/CHOCOLAT1ER/" class="link" target="_blank" rel="noopener noreferrer">My Backloggd</a>
      </div>
    </div>
  </main>
</Layout>

<style>
	@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .main-content {
    display: flex;
    flex-direction: column;
  }

  .section {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #13151a;
    padding: 2rem;
	animation: slideIn 1.5s ease-out
  }

  .section.reverse {
    flex-direction: row-reverse;
	background-color: #f9f9f9;
  }

  .section.reverse .text-content h1,
  .section.reverse .text-content p,
  .section.reverse {
    color: #333;
  }

  .image {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .text-content {
    max-width: 600px;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
	color: #fff;
  }

  p {
    font-size: 1.125rem;
    color: #fff;
  }

  .link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007acc;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .link:hover {
    background-color: #005f99;
  }
  @media (max-width: 768px) {
    .section {
      padding: 1rem;
	  flex-direction: column;
    }
	.section.reverse{
		flex-direction: column;
	}
    
    .image {
      max-width: 100%;
    }
    
    h1 {
      font-size: 1.5rem;
    }
    
    p {
      font-size: 1rem;
    }
  }
</style>
