---
import { Image } from 'astro:assets';
import type { Github } from "../../interfaces";
interface Props {
  title: string;
  body: string;
  href: string;
  image: ImageMetadata;
  github: Github[];
}

const { href, title, body, image, github } = Astro.props;
---

<li class="link-card link-card-hidden">
  <a href={href} class="card-link">
    <Image src={image} alt="Site Image" class="card-image"/>
    <h2 class="card-title">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="card-body">
      {body}
    </p>
    <div class="card-github-links">
      {github.map((git: Github) => (
        <a href={git.link} class="github-link">{git.name}</a>
      ))}
    </div>
  </a>
</li>

<style>

@keyframes slideIn {
    from {
      transform: translateY(60%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .link-card {
    list-style: none;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
	position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .link-card-hidden {
    animation: slideIn 1.73s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }

  .link-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .card-link {
    text-decoration: none;
    color: inherit;
    display: block;
  }

  .card-image {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-title {
    font-size: 1.5rem;
    margin: 1rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-title span {
    transition: transform 0.3s ease;
  }

  .link-card:hover .card-title span {
    transform: translateX(5px);
  }

  .card-body {
    font-size: 1rem;
    margin: 0 1rem 1rem;
    color: #ccc;
  }

  .card-github-links {
    margin: 0 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .github-link {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .github-link:hover {
    background-color: #555;
  }
</style>
